body {
    font-family: Georgia, serif;
    font-size: 100%;
    line-height: 175%;
    margin: 0 15% 0;
   /* background-color: #d2dc9d;*/
   /* background-image: url(images/bullseye.png);
    background-position: center 200px; */
    /*background-image: url(images/blackgoose.png);
    background-position: center 100px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    */
    background: #EBF1E4  no-repeat center 100px fixed;
  
  }
  header {
    margin-top: 0;
    padding: 1em 1em 2em 1em;
    text-align: center;
    background-image: url(images/headerBG.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 50em, 50em;  
  
  }
  
  a {
    text-decoration: none;
    
  }
  a:link
  {
    color: #939;
  }
  a:visited
  {
    color: #937393;
  }
  a:hover,a:focus
  {
    color: #c700f2;
    background-color: #fff;
  }
  a:active
  {
    color: #ff00ff;
    background-color: white;
  }

  .title{
    font: bold 3em Staatliches,Georgia serif;
    text-shadow: .5em .5em .5em whitesmoke;
    color: #41521F;
  }
  h1 {
    font: bold 1.5em Georgia, serif;
    text-shadow: .1em .1em .2em gray;
    color: #41521F;
  }
  h2 {
    font-size: 1em;
    text-transform: uppercase;
    text-align: left;
    color: goldenrod
  }

  dt {
    font-weight: bold;
  }
  strong {
    font-style: italic;
  }
  ul {
      list-style-type: circle;
      margin: 0;
      padding: 0;
  }
  #info p {
    font-style: italic;
  }
  .price {
    font-family: Georgia, serif;
    font-style: italic;
  }
  p.warning, sup {
    font-size: small;
  }
  .label {
    font-weight: bold;
    font-variant: small-caps;
    font-style: normal;
  }
  
  h2 + p {
    text-align: center;
    font-style: italic;
  }
  
  