body {
    font-family: Georgia, serif;
    font-size: 100%;
    line-height: 175%;
    background: #EBF1E4  

  
  }
  header {
    margin-top: 0;
    padding: 1em 1em 2em 1em;
    text-align: center;
    background-image: url(images/headerBG.jpg);
    background-position: center top;
    background-repeat:no-repeat;
    background-size:100%,50%;  
  }
  
  a {
    text-decoration: none;
    
  }
  a:link
  {
    color: #04395E;
  }
  a:visited
  {
    color: #5496a7;
  }
 
  a:active
  {
    color: #D5896F;
  }

  .title{
    font: bold 3em Staatliches,Georgia serif;
    text-shadow: .5em .5em .5em whitesmoke;
    color: #41521F;
  }
  h1 {
    font: bold 1.5em Georgia, serif;
    text-shadow: .1em .1em .2em gray;
    color: #41521F;
  }
  h2 {
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: left;
    color: goldenrod
  }
  h3
  {
    font-size: 1em;
   
    font-family: "Marco One",Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .Winter
  {
    font-size: 1.25em;
   
    font-family: "Marco One",Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #04395E;
  }
  .Summer
  {
    font-size: 1.25em;
   
    font-family: "Marco One",Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #D5896F;
  }
  ul {
      list-style-type: circle;
      margin:25px;
      padding: 0;
  }

  .footer{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    font-style: italic;
  }


 /* The side navigation menu
 from https://www.w3schools.com/howto/howto_css_sidebar_responsive.asp*/
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color:#5496a73b;
  position:absolute;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 8px;
}

/* Active/current link */
.sidebar a.active {
  background-color: #5496a7;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #D5896F;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
  
  
  
  